 * {
     box-sizing: border-box;
     text-decoration: none;
 }
body,html {
    height: 100%;
}
.

/*轮播图*/
 .carousel-inner {
     height: 420px !important;
 }

 .carousel-indicators {
     /*background: pink;*/
     bottom: -10px ;
 }

 .carousel-indicators>li {
     border: none;
     cursor: pointer;
     display: inline-block;
     zoom: 1;
     width: 10px;
     height: 10px;
     margin: 5px;
     overflow: hidden;
     background-color: rgba(0,0,0,0.2);
     border-radius: 100%;
 }

 .carousel-indicators .active {
     background-color: rgba(255,255,255,1);
     border: none;
     cursor: pointer;
     display: inline-block;
     zoom: 1;
     width: 10px;
     height: 10px;
     margin: 5px;
     overflow: hidden;
     border-radius: 100%;
 }

 .carousel-inner {
     position: relative;
     width: 1920px;
     height: 420px;
 }
 .carousel-inner .item {
     /*position: absolute;*/
     /*left:-180px;*/
 }
 .carousel-inner .item img {
     max-width:120% !important;
     margin-left: -10%;
 }
 .carousel-fade .carousel-inner .item{ opacity:0; -webkit-transition-property:opacity;-moz-transition-property:opacity ; -ms-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity ;}
 .carousel-fade .carousel-inner .active{ opacity: 1;}
 .carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{left: 0;opacity: 0;}
 .carousel-fade .carousel-inner .next.left,
 .carousel-fade .carousel-inner .prev.right {opacity: 1;}
 /*左侧 列表*/
 .banner-nav {
     width: 200px;
     position: relative;
     bottom: 422px;
     margin: 0 auto;
     z-index: 998;
 }
 .banner-nav-wrapper {
     width: 180px;
     position: absolute;
     left: -470px;
 }
 .banner-nav ul {
     width: 180px;
     background: #757881;
     height: 420px;
     margin-top: 2px;
 }
 .banner-nav ul li {
     height: 42px;
     line-height: 42px;
     color: #fff;
     font-size: 16px;
     position: relative;
     cursor: pointer;
     padding-left: 45px;
 }
 .banner-nav ul li i {
     display: inline-block;
     width: 70px;
     font-weight: bold;
     font-style: normal;
     text-align: justify;
     text-align-last: justify;
 }
 .banner-nav ul li img {
     position: absolute;
     right: 35px;
     top: 20px;
 }
 .navname {
     position: relative;
 }
 .navname a {
     position: absolute;
     display: block;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
 }
 .nav-detail {
     position: relative;
     left: 100%;
     top: -104%;
     display: none;
 }
 .banner-nav ul {
     left: 100%;
     top: -193%;
     width: 180px;
     background: #757881;
     height: 420px;
     margin-top: 2px;
 }
 /*box1*/
 .box1 {
     width: 100%;
     height: 560px;
 }
 .card {
     width: 1200px;
     margin: 0 auto;
     padding: 60px 0;
     clear: both;
 }
 .navigation {
     text-align: center;
 }
 .navigation span.serviceIndex {
     color: #3d3838;
     font-weight: 800;
     font-size: 28px;
     font-family: "微软雅黑";
 }
 .navigation .serviceType {
     display: block;
     font-size: 22px;
     font-family:"幼圆";
     margin-top: 15px;
 }
 .tagsListHeader {
     text-align: right;
 }
 .lookMore {
     position: relative;
     bottom: 10px;
 }
 .lookMore a {
     color: #898989;
     font-size: 18px;
     font-family: "幼圆";
 }
 .row {
     margin: 0;
 }
.ServiceBorder {
    float: left;
    padding: 10px;
    width: 230px;
    border: 1px solid #eaeaea;
    margin: 0 5px;
    background: #fff;
    height: 345px;
}
.ServiceBorder:hover {
    box-shadow: 5px 5px 15px #ccc;
}
 .ServiceBorder img {
     width: 210px;
     height: 210px;
 }
.serviceName, .description, .price {
    width: 210px;
 }
.serviceName {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 800;
    color: #000;
    height: 28px;
    overflow: hidden;
    width: 101%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.description {
    color: #929292;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 13px;
    line-height: 18px;
    height: 58px;
}
.price {
     font-size: 14px;
     padding: 5px 5px;
     font-weight: 600;
     height: 20px;
     line-height: 20px;
     color: #fb474f;
 }
.btn {
    float: right;
    padding: 0;
    width: 76px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    background: #fb474f;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

