.content {
    margin-bottom:16px;
}
.login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 13%;
    border-radius: 5px;
    background: #fff;
    border: 1px #ccc solid;
}
.login h2 {
    background: url("http://www.daoway.com/dian/img/houtai-logo.png") center no-repeat;
    height: 70px;
    line-height: 70px;
    background-size: 290px;
    margin-top: 0;
    font-size:0;
}
.form-control {
    width: 263px;
    height: 55px;
}
.login .icon-1 {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}
.input2 .icon-2 {
    border-top-left-radius: 0;
}
#username {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}
#password {
    border-top-right-radius:0;
}
.icon {
    width: 11px;
    height: 14px;

}
.icon .user {
    background: url("../img/user.svg") center no-repeat;
}
.icon .lock {
    background: url("../img/lock.svg") center no-repeat;
}

.bottom {
    padding: 20px ;
    text-decoration: none;
}
.bottom .left {
    float: left; text-decoration: none;
}
.bottom .right {
    float: right; text-decoration: none;
}